
@font-face {
    font-family: 'Nexa Rust';
    src: url('../fonts/NexaRustSans-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, big, cite, code,
del, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}

body {
	min-height: 970px;
	background: linear-gradient(to top right, #5674B9, #F26D7D) no-repeat;
	overflow-x: hidden;
}

.container {
	padding-top: 60px;
	height: 100%;
}

.content {
	margin: 100px auto;
	max-width: 1170px;
}

p {
	font-family: 'Nexa Rust';
}

a {
	text-decoration: none;
}

/*********** 
 Header Style 
************/

header {
	height: 100px;
}

#logo {
	display: block;
	width: 550px;
	margin: 0 auto;
	clear: both;
}

/************* 
 Main Container 
**************/

.rows {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 55px;
}

.col {
	width: 360px;
	height: 410px;
	position: relative;
	margin: 20px 15px;
	cursor: pointer;
	background-color: white;
	-webkit-box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
}

.col:hover {
	-webkit-box-shadow: 0 10px 15px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 10px 15px 5px rgba(0,0,0,0.4);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.4);
}

.col img {
	width: 100%;
}

/* Column content */
.profile {
	height: 120px;
	padding: 25px;
	line-height: 60px;
	vertical-align: middle;
	background: rgba(0, 79, 145, 1);
	background-position: center;
	background-size: 300px;
}

#profile-logo {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#name {
	font: bold 1em 'Open Sans';
	text-transform: capitalize;
	color: #EDF2F4;
	padding-left: 15px;
}

.game-name,
.menu a {
	color: #004F91;
}

.game-name:hover,
.menu a:hover {
	color: #249CDE;
}

.game-name {
	padding: 10px 20px 0;
	font: bold 1.2em/1.2em 'Nexa Rust';
	text-transform: uppercase;
}

#viewers, #date {
	position: absolute;
	bottom: 10px;
	left: 120px;
	font: 0.7em/15px 'Nexa Rust';
	color: #878D8F;
}

#viewers {
	left: 0;
	background: url(../img/viewers.png) no-repeat;
	margin-left: 20px;
	padding-left: 20px;
}

/********************* 
 Sliding Menu & Filter 
**********************/

.menu, 
.filter, 
.container {
  transform: translate(0, 0);
  transition: all 0.25s ease;
}

.menu, 
.filter {
  position: fixed;
  background-color: #EDF2F4;
  width: 400px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

/* Menu styling */
.menu {
	right: -400px;
}

.menu ul, 
.filter ul {
	padding: 60px 40px;
}

.menu ul li, 
.filter ul li {
	padding-bottom: 25px;
}

.menu a {
	font: bold 1.2em 'Kanit';
	text-transform: uppercase;
}

#menu-close,
#filter-close {
	display: none;
}

/* Filter styling*/
.filter {
	left: -400px;
}
.filter ul li {
	font: bold 1em 'Kanit';
	text-transform: uppercase;
}
input[type="checkbox"] {
	float: right;
  width:19px;
  height:19px;
}
input[type="checkbox"]:checked {
	background-color: white;
}

/*********** 
 Buttons 
************/

button {
	outline: none;
}

button,
#filter-btn,
#menu-btn,
#stream_lang,
#broad_lang {
	cursor: pointer;
} 

#filter-btn,
#menu-btn {
	margin: 0 55px;
}

#filter-btn {
	float: left;
}

#menu-btn {
	float: right;
}

#load-more {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	font: 1.2em 'Nexa Rust';
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #EDF2F4;
	background-color: transparent;
	border: 1px solid #8780B3;
	border-radius: 50%;
}

#load-more:hover {
	background-color: #EDF2F4;
	color: #9B719F;
	border: none;
}

/* Close Modal Button */
#close-btn {
	position: absolute;
	top: -40px;
	right: -40px;
	background-color: transparent;
	border: none;
}

/*********** 
 Modal Window 
************/

#modal {
	display: none;
	max-width: 100%;
	width: 945px;
	height: 700px;
	position: relative;
	margin: 100px auto 0;
}

iframe {
	max-width: 100%;
	width: 945px;
	height: 535px;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#modal #profile-logo,
#modal #name,
#modal .game-name {
	position: absolute;
}
#modal #profile-logo {
	bottom: 70px;
	right: 0;
}
#modal #name {
	right: 80px;
	bottom: 90px;
}
#modal .game-name {
	width: 600px;
	top: 570px;
	left: 0;
	padding: 0;
	font-size: 3em;
	line-height: 1em;
	color: #000;
}

#modal #viewers,
#modal #date {
	margin-left: 0;
	margin-bottom: 5px;
	padding-left: 25px;
	color: #FFF;
}

#modal #viewers {
	background: url(../img/viewers2.png) no-repeat;
}

@media only screen and (max-width: 1050px) { 

	#close-btn {
		right: 0;
	}
}

@media only screen and (max-width: 796px) {
	.container {
		padding: 60px 10px 20px;
	}
	.content {
		margin: 0 auto;
	}
	.col {
		width: 450px;
		height: 450px;
	}
	#logo {
		clear: none;
		width: 70%;
	}
	#logo img {
		width: 100%;
	}
	#menu-btn {
		margin-left: 0;
	}
	#filter-btn {
		margin-right: 0;
	}
	#modal {
		width: 100%;
		margin: 0 auto;
	}
	#modal iframe {
		width: 100%;
	}
	#modal .game-name {
		font-size: 2em;
	}
}

@media only screen and (max-width: 630px) {
	.rows {
		margin-bottom: 20px;
	}
	#logo {
		clear: none;
		width: 60%;
	}
	#menu-btn,
	#filter-btn {
		margin: 0 10px;
	}
	#modal {
		height: 550px;
	}
	iframe {
		height: 400px;
	}
	#modal .game-name {
		top: 420px;
		width: 60%;
	}
	#modal #name {
		bottom: 100px;
	}
	#modal #profile-logo {
		bottom: 80px;
	}
	#modal #viewers,
	#modal #date {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 460px) {
	.container {
		padding-top: 30px;
		transform: translate(0, 0);
	}
	header {
		height: 60px;
	}
	.col {
		width: 450px;
		height: 420px;
	}
	#logo {
		clear: none;
		width: 60%;
	}
	#logo img {
		height: 30px;
	}
	.filter,
	.menu {
		max-width: 100%;
	}
}

@media only screen and (max-width: 360px) {
	.col {
		width: 450px;
		height: 380px;
	}
}